*.npy
*.cfl
*.hdr
*.pt
*.png
*.h5
*.txt
*.sh
# python compiled files
*.pyc
*.swp
python/.ipynb_checkpoints/
# dont upload jupyter notebook, difficult to track them
*.ipynb 
old_jupyter_notebooks/
__pycache__/
